<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--  
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/formio.full.min.css" />
	<script src="js/formio.full.min.js"></script>
	-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css" />
    <script src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js"></script>
	<script src="js/jquery.min.js"></script>
</head>

<body>
	<div id="result-message" style="padding-left: 30px; font-size: 15px; border-radius: 4px"></div>
	
	<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Title</label>
		<input type="text" class="form-control" id="title" placeholder="Enter the form title"  />
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Path</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="path" placeholder="example" style="text-transform: lsowercase" required="required" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Tags</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="path" placeholder="Add a tag" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Expired date</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="expired-date" required="required" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Expired time</label>
				<div class="col-sm-10">
					<input type="time" class="form-control" id="expired-time" required="required" />
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Access</label>
				<div class="col-sm-9">
					<select class="form-control" id="access">
						<option th:each="role : ${listRoles}" th:value="${role._id}" th:text="${role.title}"></option>
						<option>Group</option>					
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Details</label>
				<div class="col-sm-11">
					<select class="form-control" id="details" disabled="disabled">
						<option>Test</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	</form>
	
	<div id="builder"></div>
	<button type="button" class="btn btn-info mr-2" id="create" disabled="disabled">Create</button>
    <button class="btn btn-warning">Cancel</button>
    
	<script th:inline="javascript">
		const form = document.querySelector('form');
		const title = $('#title');
		const path = $('#path');
		const expiredDate = $('#expired-date');
		const expiredTime = $('#expired-time');
		const access = $('#access');
		const details = $('#details');
		const createBtn = $('#create');
		const resultMess = $('#result-message');
		
		let builder = new Formio.FormBuilder(document.getElementById('builder'), {
			display: 'form',
			type: 'form',
			tags: [],
			owner: [[${session.user.email}]],
			title: null,
			path: null,
			name: null,
			components: [],
			access: access.value,
			expiredDate: null,
			expiredTime: null
		});

		const setDisplay = function(display) {
			builder.setDisplay(display).then(function(instance) {     
				instance.on('change', function(form) {
					if (form.components) {
						form.components.length !== 0 ? createBtn.removeAttr('disabled') : createBtn.attr('disabled', 'disabled');		
					}
				});
			});
		};
		
		setDisplay('form');
		
		title.change(function () {
			builder.form.title = title.val();
		});
		
		path.change(function () {
			builder.form.path = path.val();
			builder.form.name = builder.form.path;
		});
		
		expiredDate.change(function () {
			builder.form.expiredDate = expiredDate.val();
		});
		
		expiredTime.change(function () {
			builder.form.expiredTime = expiredTime.val() + ":00";
		});
		
		access.change(function () {
			const value = access.val();
			if (value == 'Group') {
				details.removeAttr('disabled');
			} else {
				details.attr('disabled', 'disabled');
				builder.form.access = value;
			}
		});
		
		createBtn.click(function () {
			if (form.checkValidity()){
				resultMess.removeClass();
				$.ajax({
					url: 'http://localhost:8080/create-form',
					method: 'POST',
	  				dataType: 'json',
	  				data: {
	  					formJSON: JSON.stringify(builder.form)
	  				},
	  				success: () => {
	  					resultMess.addClass('alert-success');
	  					resultMess.html('Successfully created form!');
	  				},
	  				error: mess => {
	  					resultMess.addClass('alert-danger');
	  					resultMess.html('Could not connect to API server(' + mess.responseText + ')');
					}
				});
			} else {
				form.reportValidity();
			}
		});
	</script>
</body>

</html>