<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/header :: header"></head>

<body>
  <div class="container-scroller">
	<div th:include="fragments/navbar :: navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div th:include="fragments/sidebar :: sidebar"></div>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Forms Table</h4>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Progress</th>
                          <th>Amount</th>
                          <th>Deadline</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<tr th:each="obj,iterStat : ${list}">
                      		<td th:text="${iterStat.count}"></td>
                      		<td th:text="${obj.title}"></td>
                      		<td>
                              <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td th:text="${obj.amount}"></td>
                            <td th:text="${obj.endDate}"></td>
                      	</tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <div th:include="fragments/footer :: footer"></div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <div th:include="fragments/plugins :: plugins"></div>
</body>

</html>