<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/header :: header"></head>
<link rel="stylesheet" th:href="@{/css/pagination.css}" />

<body>
  <div class="container-scroller">
	<div th:include="fragments/navbar-admin :: navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div th:include="fragments/sidebar-admin :: sidebar"></div>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div id="result-message" style="display: none; padding: 10px; font-size: 15px; border-radius: 4px; margin-bottom: 10px"></div>
                  <h4 class="card-title">Users Table</h4>
                  <div class="row">   
	                  <div class="col-md-2">
	                  	<a class="btn btn-info btn-block" th:href="@{/build/user}">New User
						  	<i class="mdi mdi-plus"></i>
						  </a>
	                  </div>
	                  <div class="col-md-6">
						<div class="form-group row">
							<div class="col-sm-8">
								<select class="form-control" id="details">
									<option th:each="group : ${listGroups}" th:value="${group.idGroup}" th:text="${group.name}"></option>
								</select>
							</div>
							<button class="btn btn-dark" id="previousBtn" type="button"><span class="mdi mdi-arrow-left-bold" title="Previous"></span></button>
							<button style="margin-left: 12.5px" class="btn btn-dark" id="nextBtn" type="button" title="Next"><span class="mdi mdi-arrow-right-bold"></span></button>
							<button style="margin-left: 12.5px" class="btn btn-info" id="searchByGroup" type="button" title="Search"><span class="mdi mdi-account-search"></span></button>
						</div>
					</div>  
					<div class="col-md-4">
		            	<div class="input-group col-xs-12">
		                  	<input id="searchText" type="text" class="form-control file-upload-info" placeholder="input your name keyword..." />
		                   	<span class="input-group-append">
		                    	<button class="file-upload-browse btn btn-info" type="button" id="searchByName">
		                    		<i class="mdi mdi-account-search"></i>
		                    	</button>
		                  	</span>
		                </div>
					</div>
				</div>        
                  <div class="table-responsive">
                    <table id="forms-table" class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Email</th>
                          <th>Name</th>
                          <th>Group</th>
                          <th>Gender</th>
                          <th>Phone</th>
                          <th>Address</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<tr th:each="obj : ${list}">
                      		<td th:text="${objStat.count}"></td>
                      		<td th:text="${obj.email}"></td>
                      		<td th:text="${obj.name}"></td>
                      		<td th:text="${obj.nameGroup}"></td>
                            <td th:text="${obj.gender}"></td>
                            <td th:text="${obj.phoneNumber}"></td>
                            <td th:text="${obj.address}"></td>
                            <td>
								<a th:id="'edit-' + ${objStat.count}" th:href="@{/build/user/{id}(id=${obj.id})}" class="btn btn-primary" title="Edit">
									<span class="mdi mdi-tooltip-edit"></span>
								</a>
							</td>
                      	</tr>
                      </tbody>
                    </table>
                  </div>                      
		  		  <div class="pagination" id="pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <div th:include="fragments/footer :: footer"></div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <div th:include="fragments/plugins :: plugins"></div>
  <script src="/js/pagination.js"></script>
  <script th:inline="javascript">
  	/*<![CDATA[*/
  	const serverURL = 'http://localhost:8080';
  	const idGroup = [[${idGroup}]];
	createPagination(parseInt([[${totalPages}]]), parseInt([[${currPage}]]), `${serverURL}/users/${idGroup}/`);
	
  	if (idGroup === null) {
  		// Modified pagination when show users after search by name
  		const ul = $('#pagination > ul');
  		const keyword = [[${keyword}]];
  		ul.each(function () {
  			const aTag = $(this).find('a');
  			let href = aTag.attr('href').replace("null", "root");
  			aTag.attr('href', `${href}?keyword=${keyword}`);
  		});
  	}

  	const nextBtn = $('#nextBtn');
	const previousBtn = $('#previousBtn');
	const details = $('#details');
	const resultMess = $('#result-message');
	const searchByGroupBtn = $('#searchByGroup');
	const searchText = $('#searchText');
	const searchByNameBtn = $('#searchByName');
		
	nextBtn.click(function () {
		callAjaxGroups(true);
	});
	
	previousBtn.click(function () {
		callAjaxGroups(false);
	});
	
	searchByGroupBtn.click(function () {
		let idGroupInSelect = details.val();
		if (idGroupInSelect === 'D2500000') {
			idGroupInSelect = 'root';
		}
		window.location.href = `${serverURL}/users/${idGroupInSelect}/1`;
	});
	
	searchByNameBtn.click(function () {
		const keyword = searchText.val();
		window.location.href = `${serverURL}/users/root/1?keyword=${keyword}`;
	});
  	
	function callAjaxGroups(isNext) {
		resultMess.hide();
		resultMess.removeClass();
		$.ajax({
			url: `${serverURL}/ajax/groups`,
			method: 'GET',
				dataType: 'json',
				data: {
					idGroup: details.val(),
					isNext
				},
				success: resArr => {
					if (resArr.length != 0) {
  						details.children().remove();
  						let data = null;
	  					resArr.forEach(function (item) {
	  						data = item.data;
	  						details.append(new Option(data.name, data.idGroup));
	  					});
  					}
				},
				error: mess => {
					resultMess.addClass('alert-danger');
					resultMess.html('Could not connect to API server(' + mess.responseText + ')');
					resultMess.show();
				}
		});
	}
  	/*]]>*/
  </script>
</body>

</html>